.heading{
    background-color: gray;
    width: 100%;
}
.copy_right_footer{
    text-align: right;
    position: fixed;
    background-color: black;
    color: aqua;
    width: 100%;
    line-height: 3;
    bottom: 0px;
}
body{
    font-family: 'Playfair Display', serif;
}